.class
bin/
.settings/
.classpath
.project
jevolution.jar
nbproject/private/
manifest.mf
build/
dist/

src/jevolution/expressions/Parser.java
src/jevolution/expressions/sym.java
src/jevolution/expressions/Scanner.java

